@charset "UTF-8";

@font-face {
  font-weight: 100;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-Thin.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-SemiBold.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 800;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: 'Paperlogy';
  src: url('./Paperlogy-Black.ttf') format('truetype');
}